@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Quicksand:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
}

header,
main,
aside,
footer {
  padding: 1rem;
}

header {
  background: #555b6e;
  color: #bee3db;
  font-family: 'Quicksand', sans-serif;
}

main {
  background: #faf9f9;
  background-image: url(../images/hypnotize.png);
}

main {
  padding-bottom: 20px;
}

.projects,
.labs {
  background: #89b0ae;
  box-shadow: 0px 5px 5px #555b6e;
  padding-bottom: 15px;
  margin: 1.5rem 0;
  border-radius: 15px;
}

aside {
  background: #ffd6ba;
}

h1,
h2 {
  text-align: center;
  padding: 1rem 0 .5rem 0;
  font-family: 'Quicksand', sans-serif;
}

h3,
.label {
  font-family: 'Quicksand', sans-serif;
  padding: .5rem 0 0 0;
}

.intro p {
  padding: 0 0 .5rem 0;
}

aside li {
  margin: 0 0 0 2rem;
}

/* use flexbox to style the contents inside projects and labs boxes */
.projects li,
.labs li {
  margin: 8px 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #bee3db;
  box-shadow: 0px 5px 5px #555b6e;
  border-radius: 20px;
}

ol {
  list-style: none;
  margin: 0rem;
  padding: .5rem;
}

.duedate {
  font-size: .8rem;
  font-style: italic;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: .5rem;
}

/* ----Format for the site footer  -----*/

footer {
  padding: 2rem 1rem;
  background: #555b6e;
  color: #bee3db;
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foot1 {
  font-weight: bold;
}

.foot2 {
  font-size: .95rem;
}

.email a {
  color: #ffd6ba;
  font-size: .85rem;
}

.disclaimer {
  font-size: .85rem;
  padding: 2rem 0 0 0;
}

/* end basic mobile-first styling */


/* style overrides for medium screen layouts */
@media screen and (min-width: 650px) {
  body {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  header {
    font-weight: 700;
  }

  h1 {
    text-align: left;
    padding: 1rem 0 .5rem 1rem;
  }

  .services-title {
    text-align: center;
    padding: .5rem;
  }

  .intro p,
  .intro-title {
    text-align: left;
    padding: 0 0 .2rem 1rem;
  }

  header,
  footer,
  main,
  aside {
    grid-column: 1 / span 12;
  }

  .site-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1rem;
  }

  .disclaimer {
    padding: 2.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
  }

  /* use css grid to style the layout of the project and lab link boxes */
  .projects ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .labs ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .label {
    padding: 1rem 0 0 0;
  }
}

/* style overrides for wider screen layouts */
@media screen and (min-width: 900px) {
  main {
    grid-column: 1 / span 9;
  }

  aside {
    grid-column: 10 / span 3;
  }
  .projects {
    animation-name: flip-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .labs {
    animation-name: fade-in;
    /* animation-name: flip-next; */
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  aside {
    animation-name: spin-in;
    /* animation-name: fade-in-last; */
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  /*
  .labs {
    animation-name: spin-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  */
  @keyframes flip-in {
    0%   {
            background-color:#bee3db; 
            transform:translate(0,0) rotateY(0deg) rotateX(0deg);
            opacity: 0;
    }
    25%  {
            background-color:#555b6e; 
            transform:translate(200px,0) rotateY(180deg) rotateX(180deg);
    }
    50%  {
            background-color:#faf9f9; 
            transform:translate(200px,200px) rotateY(0deg) rotateX(0deg);
    }
    75%  {
            background-color:#ffd6ba; 
            transform:translate(0,200px) rotateY(180deg) rotateX(180deg);
    }
    100% {
            background-color:#89b0ae; 
            transform:translate(0,0) rotateY(0deg) rotateX(0deg);
            opacity: 1;
    }
          }
  }
/*
  @keyframes flip-next {
    0%, 50%   {
            opacity: 0;
            position: relative;
            left: -200px;
    }
    60%   {
      background-color:#bee3db; 
      transform:translate(0,0) rotateY(0deg) rotateX(0deg);
      opacity: 0;
}
75%  {
      background-color:#555b6e; 
      transform:translate(200px,0) rotateY(180deg) rotateX(180deg);
}
85%  {
      background-color:#faf9f9; 
      transform:translate(200px,200px) rotateY(0deg) rotateX(0deg);
}
95%  {
      background-color:#ffd6ba; 
      transform:translate(0,200px) rotateY(180deg) rotateX(180deg);
}
100% {
      background-color:#89b0ae; 
      transform:translate(0,0) rotateY(0deg) rotateX(0deg);
      opacity: 1;
}
  }

@keyframes fade-in-last {
  0%, 66%   {
          opacity: 0;
          position: relative;
          left: -200px;
  }
  60%   {
    background-color: #bee3db; 
    transform:translate(0,0) rotateY(0deg) rotateX(0deg);
    opacity: 0;
}
75%  {
    background-color:#555b6e; 
    transform:translate(200px,0) rotateY(180deg) rotateX(180deg);
}
85%  {
    background-color:#faf9f9; 
    transform:translate(200px,200px) rotateY(0deg) rotateX(0deg);
}
95%  {
    background-color:#89b0ae; 
    transform:translate(0,200px) rotateY(180deg) rotateX(180deg);
}
100% {
    background-color:#ffd6ba; 
    transform:translate(0,0) rotateY(0deg) rotateX(0deg);
    opacity: 1;
}
}
*/

@keyframes fade-in {
  0%, 50% {
  opacity: 0;
}
100% {
  transform: rotate(-3600deg);
  transform-origin: 20% 40%;
  filter: blur(0);
}

}
@keyframes spin-in {
  0%, 66% {
  opacity: 0;
}
100% {
  transform: rotate(7200deg);
  transform-origin: 20% 40%;
  filter: blur(0);
}

}

